.idea/

/apidocs/
/data/*
!/data/.htaccess
/vendor/
/composer_dev.json
/custom/*
!/custom/.htaccess
/nb_metadata
!/apidocs/
/apidocs/index.html
/application/Espo/Modules/*
!/application/Espo/Modules/TreoCore/
/client/modules/*
!/client/modules/treo-core/
