.idea/
/nb_metadata

/apidocs/index.html
/application/Espo
/custom/*
!/custom/.htaccess
/data/*
!/data/.htaccess
/vendor/
/composer.lock
/auth.json

!client/
client/*
!client/modules
client/modules/*
!/client/modules/treo-core
