RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

# Prevent direct access to certain files
<FilesMatch ^(auth\.json)$>
  Deny from all
</FilesMatch>

<FilesMatch "(composer|composer-validate)\.log$">
  Allow from all
</FilesMatch>