RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

# Prevent direct access to certain files
<FilesMatch "(treo-module-update\.log|treo-self-upgrade\.log|notReadCount\.json|popupNotifications\.json)$">
  Allow from all
</FilesMatch>