RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

# Prevent direct access to certain files
<FilesMatch ^(composer\.json$|phpci\.yml)$>
Deny from all
</FilesMatch> 
