RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} /client/
RewriteRule ^ /client/ [R=404]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

<FilesMatch "(treo-composer\.log|treo-composer-run\.txt|notReadCount\.json|popupNotifications\.json)$">
  Allow from all
</FilesMatch>

<FilesMatch "(composer\.json)$">
  Deny from all
</FilesMatch>